<%- include ("partials/header") %>
 <h1 style="text-align: center;padding-top: 15vh;">Sign in</h1>
<div style="width: 25%; margin:25px auto;">
<form action="/register"  method="POST">
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="username"> 
     </div> 
     <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="password">
     </div> 
     <div class="form-group">
        <input class="btn btn-primary btn-lg"style="width:100%;" type="submit" value="Login"> 
     </div> 
</form>
</div>
<%- include ("partials/footer") %>